<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Forum for developers" name="description">
    <meta content="Grupa 2" name="author">

    <title>Change password</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/bootstrap-4.6.0-dist/css/bootstrap.min.css}">

    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>

<div class="container">
    <div class="py-4 text-center mt-md-0">
        <h2>Change password</h2>
    </div>

    <div class="row">

        <div class="col-md-4 order-md-1 offset-md-4">

            <div class="alert alert-success mb-4" role="alert" th:if="${success}">
                <h4 class="alert-heading">Well done!</h4>
                <p th:text="${success}"></p>
            </div>

            <form class="needs-validation" role="form" th:action="@{/change-password}" th:method="post"
                  th:object="${userChangePasswordDto}">

                <div class="mb-2">
                    <label for="oldPassword">Old password</label>
                    <input class="form-control" id="oldPassword" name="oldPassword" required th:classappend="${not #lists.isEmpty(#fields.errors('oldPassword'))} ? is-invalid" th:field="*{oldPassword}"
                           type="password">
                    <div class="invalid-feedback">
                        <p th:each="error: ${#fields.errors('oldPassword')}" th:text="${error}">Invalid data</p>
                    </div>
                </div>

                <hr class="mb-2">

                <div class="mb-2">
                    <label for="newPassword">New password</label>
                    <input class="form-control" id="newPassword" name="newPassword" required th:classappend="${not #lists.isEmpty(#fields.errors('newPassword'))} ? is-invalid" th:field="*{newPassword}"
                           type="password">
                    <div class="invalid-feedback">
                        <p th:each="error: ${#fields.errors('newPassword')}" th:text="${error}">Invalid data</p>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="confirmNewPassword">Confirm new password</label>
                    <input class="form-control" id="confirmNewPassword" name="confirmNewPassword" required th:classappend="${not #lists.isEmpty(#fields.errors('global'))} ? is-invalid"
                           th:field="*{confirmNewPassword}" type="password">
                    <div class="invalid-feedback">
                        <p th:each="error: ${#fields.errors('global')}" th:text="${error}">Invalid data</p>
                    </div>
                </div>


                <button class="btn btn-info btn-lg btn-block mt-4" type="submit">Change password</button>

                <div class="btn-group btn-group-sm mt-3 btn-block" role="group">
                    <a aria-disabled="true" class="btn btn-outline-info mr-2" href="/my-posts" role="button">Back to my posts</a>
                    <a aria-disabled="true" class="btn btn-outline-secondary" href="/" role="button">Back to home
                        page</a>
                </div>
            </form>
        </div>
    </div>

    <footer class="mb-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Just a Forum</p>
    </footer>
</div>

<!-- Bootstrap script-->
<script th:src="@{/bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
