<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Forum for developers" name="description">
    <meta content="Grupa 2" name="author">

    <title>JaF</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/bootstrap-4.6.0-dist/css/bootstrap.min.css}">

    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
        <a class="navbar-brand" href="/"><img alt="" class="d-inline-block mr-2 align-bottom" height="30"
                                              th:src="@{/images/logo_white.png}" width="30">JaF</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarCollapse" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active"
                       data-toggle="dropdown"
                       href="#" id="submenu" role="button"> Categories </a>

                    <div aria-labelledby="submenu" class="dropdown-menu">

                        <a class="dropdown-item" href="/frontend"> Frontend</a>
                        <a class="dropdown-item" href="/backend"> Backend </a>
                        <a class="dropdown-item" href="/mobile"> Mobile </a>

                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-posts">My posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About us</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <span class="text-light font-weight-bold mr-2" sec:authentication="name"
                      sec:authorize="isAuthenticated()"></span>
                <a class="btn btn-info mr-2" href="/login" role="button"
                   th:if="${#authorization.expression('!isAuthenticated()')}">Log in</a>
                <a class="btn btn-info" href="/signup" role="button"
                   th:if="${#authorization.expression('!isAuthenticated()')}">Sign up</a>
                <a class="btn btn-info" href="/logout" role="button"
                   th:if="${#authorization.expression('isAuthenticated()')}">Logout</a>
            </form>
        </div>
    </nav>
</header>

<main role="main">

    <div class="container py-5">
        <div class="row">

            <div class="alert alert-danger mt-5 col-12 col-md-6 offset-md-3" role="alert" th:if="${errorMessage}">
                <h4 class="alert-heading">Error!</h4>
                <p th:text="${errorMessage}"></p>
            </div>

            <div class="col-md-10 offset-md-1" th:if="${post}">

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${post.getTitle()}"></h2>
                        <strong><a href="#" th:text="${post.getUsername()}" class="mb-1"></a></strong>
                        <p class="card-subtitle text-muted mb-2" th:text="${post.getPublishedDateTime()}"></p>
                        <p class="card-text" th:text="${post.getContent()}"></p>
                    </div>
                </div>

                <div class="my-3 p-3 rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0 text-light">Coments</h6>

                    <div class="media pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <p class="badge badge-info text-wrap mb-1">domino</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut orci eget augue molestie
                                gravida ac nec erat.</p>
                        </div>
                    </div>

                    <div class="media pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <p class="badge badge-info text-wrap mb-1">marik</p>
                            <p class="mb-0">Mauris ut orci eget augue molestie.</p>
                        </div>
                    </div>

                    <div class="media pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <p class="badge badge-info text-wrap mb-1">domino</p>
                            <p class="mb-0"> Consectetur adipiscing elit. Mauris ut orci eget augue molestie
                                gravida ac.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</main>

<footer class="footer text-muted">
    <div class="container">
        <p class="float-right">
            <a class="text-info" href="#">Back to top</a>
        </p>
        <p>Just a Forum &copy;</p>
    </div>
</footer>
<!-- Bootstrap script-->
<script th:src="@{/bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
