<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Forum for developers">
    <meta name="author" content="Grupa 2">

    <title>JaF</title>

    <!-- Bootstrap css -->
    <link th:href="@{/bootstrap-4.6.0-dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
        <a class="navbar-brand" href="/"><img th:src="@{images/logo_white.png}" width="30" height="30" class="d-inline-block mr-2 align-bottom" alt="">JaF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Categories </a>

              <div class="dropdown-menu" aria-labelledby="submenu">

                <a class="dropdown-item" href="#"> Frontend</a>
                <a class="dropdown-item" href="#"> Backend </a>
                <a class="dropdown-item" href="#"> Mobile </a>

              </div>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my-posts">My posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <span sec:authorize="isAuthenticated()" sec:authentication="name" class="text-light font-weight-bold mr-2"></span>
            <a th:if="${#authorization.expression('!isAuthenticated()')}" class="btn btn-info mr-2" href="/login" role="button">Log in</a>
            <a th:if="${#authorization.expression('!isAuthenticated()')}" class="btn btn-info" href="/signup" role="button">Sign up</a>
            <a th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-info" href="/logout" role="button">Logout</a>
        </form>
        </div>
      </nav>
    </header>

    <main role="main">

      <section class="title text-center mt-5 mb-3 ">
        <div class="container">
          <h1 class="title-heading">Just a Forum</h1>
          <p class="lead text-muted mb-0">Welcome to the forum that is intended for developers.</p>
          <p class="lead text-muted mt-0">Choose your category and go ahead.</p>
        </div>
      </section>
      <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 text-white bg-secondary">
                <img class="card-img-top" th:src="@{/images/frontend.png}" alt="Frontend">
                <div class="card-body">
                  <p class="card-text">Frontend</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-outline-info" href="#" role="button">View</a>
                    <small class="text-muted">20-03-2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 text-white bg-secondary">
                <img class="card-img-top" th:src="@{/images/backend.png}" alt="Backend">
                <div class="card-body">
                  <p class="card-text">Backend</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-outline-info" href="#" role="button">View</a>
                    <small class="text-muted">20-03-2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 text-white bg-secondary">
                <img class="card-img-top" th:src="@{/images/mobile.jpg}" alt="Mobile">
                <div class="card-body">
                  <p class="card-text">Mobile</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-outline-info" href="#" role="button">View</a>
                    <small class="text-muted">20-03-2019</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <footer class="footer text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#" class="text-info">Back to top</a>
        </p>
        <p>Just a Forum &copy;</p>
      </div>
    </footer>

    <!-- Bootstrap script-->
    <script th:src="@{/bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"></script>

  </body>
</html>
