<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign in</title>
</head>
<body>
<form role="form" th:action="@{/login}" th:method="post">
    <lable>Username</lable>
    <input type="text" id="username" name="username" autofocus="autofocus" required>

    <lable>Password</lable>
    <input type="password" id="password" name="password" required>

    <lable>Remember Me:</lable>
    <input type="checkbox" name="remember-me" />

    <input type="submit" value="Sign in">
</form>
<lable th:if="${loginError}" class="error">Wrong user or password</lable><br>
<a href="/">Back to home page</a>
</body>
</html>